artifacts/sitOzfarsWysr_a4.pdf filter=lfs diff=lfs merge=lfs -text
artifacts/waldOz.mp3 filter=lfs diff=lfs merge=lfs -text
artifacts/wizard1.mp3 filter=lfs diff=lfs merge=lfs -text
artifacts/bis.mp3 filter=lfs diff=lfs merge=lfs -text
artifacts/lullaby-league.mp3 filter=lfs diff=lfs merge=lfs -text
artifacts/nerve6.mp3 filter=lfs diff=lfs merge=lfs -text
artifacts/optimistic3.mp3 filter=lfs diff=lfs merge=lfs -text
artifacts/heart.mp3 filter=lfs diff=lfs merge=lfs -text
artifacts/wizard4-3.mp3 filter=lfs diff=lfs merge=lfs -text
artifacts/brain.mp3 filter=lfs diff=lfs merge=lfs -text
artifacts/comeOut.mp3 filter=lfs diff=lfs merge=lfs -text
artifacts/dingDongTheWitchIsDead.mp3 filter=lfs diff=lfs merge=lfs -text
artifacts/finale.mp3 filter=lfs diff=lfs merge=lfs -text
